/* normal styling rules */
body {
    background: aliceblue;
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin: 12px 0;
    padding: 0;
    text-align: center;
}

main {
    padding: 0 24px;
    margin: 0 auto;
}
button {
    display: block;
    margin: 12px auto;
    width: 100%;
    padding: 12px;
    font-size: 100%;
    cursor: pointer;
}

input {
    display: block;
    margin: 0 auto 12px;
    width: 100%;
    font-size: 100%;
}

[data-action] {
    cursor: pointer;
}

.example {
    margin-bottom: 96px;
}

/* extra rules for large screens */
@media (min-width: 600px) {
    main {
        width: 80%;
    }
} 


/* advanced mode + debugging */
#loginStatus {
    position: relative;
    top: -36px;    
}

#advanced {
    min-height: 24px;
    text-align: center;
}

#status {
    font-size: 60%;
    padding: 24px 12px;
    background: #F5DCCF;
    display: none;
    text-align: left;
}

body.advanced #advanced {
    background: #F5DCCF;
}
body.advanced #status {
    display: block;
}
